<div class="marquee">
    <div class="group">
        <span i18n class="karla">Available for remote work</span>
        <span class="karla dot"></span>
        <span i18n class="karla">Frontend Developer</span>
        <span class="karla dot"></span>
        <span i18n class="karla">Based in Aurich</span>
        <span class="karla dot"></span>
        <span i18n class="karla">Open to work</span>
        <span class="karla dot"></span>
    </div>
    <div class="group">
        <span i18n class="karla">Available for remote work</span>
        <span class="karla dot"></span>
        <span i18n class="karla">Frontend Developer</span>
        <span class="karla dot"></span>
        <span i18n class="karla">Based in Aurich</span>
        <span class="karla dot"></span>
        <span i18n class="karla">Open to work</span>
        <span class="karla dot"></span>
    </div>
    <div class="group">
        <span i18n class="karla">Available for remote work</span>
        <span class="karla dot"></span>
        <span i18n class="karla">Frontend Developer</span>
        <span class="karla dot"></span>
        <span i18n class="karla">Based in Aurich</span>
        <span class="karla dot"></span>
        <span i18n class="karla">Open to work</span>
        <span class="karla dot"></span>
    </div>
</div>