<section>
    <div class="container">
        <div class="title-container">
            <h2 i18n class="fira">Frontend Developer</h2>
            <h1 class="karla">Marcel Göhn</h1>
            <div class="link-btns-container">
                <a [routerLink]="['/']" fragment="projects" appButton class="karla navigate-to-links">
                    <div i18n class="wrapper karla">
                        Check my work
                    </div>
                </a>
                <a [routerLink]="['/']" fragment="contact" appButton class="karla navigate-to-links">
                    <div i18n class="wrapper karla">
                        Contact me
                    </div>
                </a>
            </div>
        </div>
        <div class="hero-bottom-container">
            <div class="bottom-container-side">
                <div class="direction">
                    <svg class="animate-arrow" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                        width="20px" fill="#FFFFFF">
                        <path d="M480-96 216-360l51-51 177 177v-630h72v630l177-177 51 51L480-96Z" />
                    </svg>
                </div>
                <div class="bottom-nav-border"></div>
            </div>
            <div class="bottom-container-side">
                @if(currentWindowWidth() > 576) {
                <a class="email-link karla" href="mailto:marcelgoehn@googlemail.com">marcelgoehn&#64;googlemail.com</a>
                }
                <div class="social-media-icons-container">
                    @if(currentWindowWidth() <= 576) { <a (mouseenter)="changeMailHoverState(true)"
                        [ngClass]="{'d_none' : mailIsHovered()}" href="mailto:marcelgoehn@googlemail.com">
                        <img src="assets/img/hero-section/mail.png" alt="E-Mail icon">
                        </a>
                        <a (mouseleave)="changeMailHoverState(false)" [ngClass]="{'d_none' : !mailIsHovered()}"
                            href="mailto:marcelgoehn@googlemail.com">
                            <img src="assets/img/hero-section/mail-white.png" i18n-alt alt="E-Mail icon in white">
                        </a>
                        }
                        <a (mouseenter)="changeGithubHoverState(true)" [ngClass]="{'d_none' : githubIsHovered()}"
                            href="https://github.com/Marcel-Goehn" target="_blank">
                            <img src="assets/img/hero-section/Github.png" alt="Github icon">
                        </a>
                        <a class="after-dot" (mouseleave)="changeGithubHoverState(false)"
                            [ngClass]="{'d_none' : !githubIsHovered()}" href="https://github.com/Marcel-Goehn"
                            target="_blank">
                            <img src="assets/img/hero-section/Github-white.png" i18n-alt alt="Github icon in white">
                        </a>
                        <a (mouseenter)="changeLinkedInHoverState(true)" [ngClass]="{'d_none' : linkedInIsHovered()}"
                            href="https://www.linkedin.com/in/marcel-g%C3%B6hn-11b050353/">
                            <img src="assets/img/hero-section/Linkedin.png" alt="Linkedin icon">
                        </a>
                        <a class="after-dot" (mouseleave)="changeLinkedInHoverState(false)"
                            [ngClass]="{'d_none' : !linkedInIsHovered()}"
                            href="https://www.linkedin.com/in/marcel-g%C3%B6hn-11b050353/" target="_blank">
                            <img src="assets/img/hero-section/Linkedin-white.png" i18n-alt alt="Linkedin icon in white">
                        </a>
                </div>
                <div class="bottom-social-border"></div>
            </div>
        </div>
    </div>
    <app-marquee />
</section>