@import '../../../mixins.scss';
@import '../../../variables.scss';

section {
    background-image: url(../../../assets/img/hero-section/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
}

.container {
    @include container();
    @include dFlex();
    height: 100%;
}

.d_none {
    display: none;
}

.title-container {
    position: relative;
    z-index: 10;
}

h2 {
    font-weight: $font-weight-normal;
    font-size: $font-size-3xl;
    color: $white-gray;
    text-align: center;
}

h1 {
    font-weight: $font-weight-bold;
    font-size: $font-size-7xl;
    color: $white-gray;
    margin-top: 0.75rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.link-btns-container {
    @include dFlex($g: 3rem);
}

// .navigate-to-links {
//     color: $white;
//     border: 1px solid $white;
//     border-radius: 100px;
//     padding: 0.813rem 1.5rem;
//     font-weight: $font-weight-normal;
//     font-size: $font-size-l;
//     transition: border-color 300ms ease-out, color 300ms ease-out;

//     &:hover {
//         border-color: $teal-dark;
//         color: $teal-dark;
//     }
// }

.email-link {
    color: $white;
    font-weight: $font-weight-normal;
    font-size: $font-size-l;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    transition: color 300ms ease-out;

    &:hover {
        color: $teal-dark;
    }
}

.hero-bottom-container {
    position: absolute;
    bottom: 0;
    @include container();
    @include dFlex($jc: space-between, $ai: flex-end);
}

.bottom-container-side {
    @include dFlex($g: 1.5rem);
    flex-direction: column;
}

.bottom-nav-border {
    border: 1px solid $teal-dark;
    height: 240px;
    width: 0;
}

.direction {
    border-radius: 100px;
    border: 1px solid $teal-dark;
    padding: 0.75rem 0.25rem;
}

.social-media-icons-container {
    @include dFlex($g: 0.75rem);
    flex-direction: column;

    >a {
        position: relative;
    }
}

.bottom-social-border {
    border: 1px solid $white;
    height: 186px;
    width: 0;
}

.animate-arrow {
    animation-name: arrow-bounce;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.after-dot::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $teal-dark;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
}


@keyframes arrow-bounce {
    0% {

    }
    100% {
        transform: translateY(10px);
    }
}

@media (max-width: 576px) {
    // .navigate-to-links {
    //     padding: 0.625rem 0.625rem;
    // }
    .bottom-nav-border {
        height: 180px;
    }
    .bottom-social-border {
        height: 80px;
    }
}

@media (max-height: 820px) {
    .bottom-nav-border {
        height: 100px;
    }
    .bottom-social-border {
        height: 10px;
    }
}

@media (max-width: 768px) {}

@media (max-width: 992px) {}

@media (max-width: 1200px) {}

@media (max-width: 1400px) {}