@import '../../../../mixins.scss';
@import '../../../../variables.scss';

article {
    background: $carousel-bg;
    padding: 3rem 2.5rem;
    border-radius: 32px;
    @include dFlex($jc: space-between);
    flex-direction: column;
    height: 274px;
    color: $white;
    border: 1px solid $teal-dark;

    >p {
        font-size: $font-size-lg;
    }
}

.testimonial {
    @include dFlex($g: 1rem);
    width: 100%;

    >hr {
        width: 100%;
        border: none;
        border-top: 1px solid $white;
    }

    >p {
        font-size: $font-size-l;
        white-space: nowrap;
    }
}