@import '../../../variables.scss';
@import '../../../mixins.scss';

section {
    background: $black;
    padding-top: 9rem;
}

.container {
    @include container();
}

.grid-container {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr 1.15fr;
}

h4 {
    font-size: $font-size-xl;
    font-weight: $font-weight-light-bold;
    color: $teal-dark;
}

h3 {
    font-size: $font-size-5xl;
    font-weight: $font-weight-bold;
    color: $teal-dark;
    margin-top: 1.25rem;
}

h3+h4 {
    font-weight: $font-weight-bold;
    margin-top: 2.5rem;
}

p {
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $white;
    margin-top: 1rem;

    >span {
        font-weight: $font-weight-bold;
        color: $teal-dark;
    }
}

.name-container,
.email-container,
.interest-container {
    padding: 2rem;
}

.name-container,
.interest-container {
    border-block: 1px solid $line-divider;
    @include dFlex($g: 1rem, $ai: flex-start);
    flex-direction: column;

    >label {
        font-size: $font-size-xl;
        font-weight: $font-weight-light-bold;
        color: $teal-dark;
    }

    >input {
        width: 100%;
        font-size: $font-size-l;
        color: $white;
        font-weight: $font-weight-normal;
        background-color: transparent;

        &:hover::placeholder {
            color: $white;
        }

        &::placeholder {
            font-size: $font-size-l;
            color: $grey-white;
            font-weight: $font-weight-normal;
        }
    }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $black inset !important;
    -webkit-text-fill-color: $white !important;
    caret-color: $white !important;
    transition: background-color 9999s ease-in-out 0s;
}

input:autofill,
textarea:autofill,
select:autofill,
:-moz-autofill {
    box-shadow: 0 0 0 1000px $black inset !important;
    caret-color: $white !important;
    -moz-text-fill-color: $white !important;
}

.email-container {
    @include dFlex($g: 1rem, $ai: flex-start);
    flex-direction: column;

    >label {
        font-size: $font-size-xl;
        font-weight: $font-weight-light-bold;
        color: $teal-dark;
    }

    >input {
        width: 100%;
        font-size: $font-size-l;
        color: $white;
        font-weight: $font-weight-normal;
        background-color: transparent;

        &:hover::placeholder {
            color: $white;
        }

        &::placeholder {
            font-size: $font-size-l;
            color: $grey-white;
            font-weight: $font-weight-normal;
        }
    }
}

.checkbox-container {
    margin-top: 2.5rem;
    @include dFlex($jc: flex-start);

    >label {
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        color: $white;
        display: flex;

        &::before {
            content: '';
            width: 18px;
            height: 18px;
            border-radius: 5px;
            border: 2px solid $teal-dark;
            margin-right: 0.5rem;
            cursor: pointer;
        }

        &:hover::before {
            background-color: $turquoise-30;
        }
    }

    .privacy-highlight {
        color: $teal-dark;

        &:hover {
            color: $white;
            text-decoration: underline;
            text-underline-offset: 10px;
            text-decoration-color: $teal-dark;
        }
    }

    >input {
        cursor: pointer;
        opacity: 0;
        position: absolute;

        &:hover+label::before {

            background-color: $turquoise-30;
        }

        &:checked+label::before {
            content: '\002714';
            color: $teal-dark;
            @include dFlex();
        }

        &:focus+label::before {
            outline: 1px solid $dot;
        }
    }
}

.btn-container {
    @include dFlex();
    margin-top: 2.75rem;
}

.invalid-message {
    color: $error-dark-red;
    font-size: $font-size-l;
    font-weight: $font-weight-normal;
    margin-top: 0;
}

.invalid-privacy-policy-message {
    color: $error;
    font-size: $font-size-l;
    font-weight: $font-weight-normal;
    margin-top: 0;
}

.checkbox-container+p {
    margin-top: 0.5rem;
}

.hideCheckBoxError {
    opacity: 0;
}

@media (max-width: 835px) {
    section {
        padding-top: 6.25rem;
    }

    .grid-container {
        display: block;

        >div {
            margin-top: 4rem;
        }
    }

    h3 {
        margin-top: 1rem;
    }

    h3+h4 {
        margin-top: 2rem;
    }

    .name-container,
    .email-container,
    .interest-container {
        padding: 2rem 1rem;
    }
}