<section>
    <div class="container">
        <div class="grid-container">
            <article>
                <h4 class="karla">Contact me</h4>
                <h3 class="fira">Let's work together</h3>
                <h4 class="fira">Got a problem to solve?</h4>
                <p class="karla">Encourage people to contact you and describe what role you are interested in. Show that
                    you
                    will add value to their projects through your work.</p>
                <p class="karla">Need a Frontend developer? <span>Let's talk!</span></p>
            </article>

            <div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
                    <div class="name-container" (click)="removeValidationError('name')">
                        <label class="fira" for="name">What's your name?</label>
                        @if (!enteredNameInvalid()) {
                        <input class="karla" type="text" name="name" id="name" placeholder="Your name goes here"
                            formControlName="name">
                        }
                        @else {
                        <p class="karla invalid-message">Oops! It seems your
                            name is missing</p>
                        }
                    </div>
                    <div class="email-container" (click)="removeValidationError('email')">
                        <label class="fira" for="email">What's your email?</label>
                        @if (!enteredEmailInvalid()) {
                        <input class="karla" type="email" name="email" id="email" placeholder="youremail@email.com"
                            formControlName="email">
                        }
                        @else {
                        <p class="karla invalid-message">Hoppla! Your email is
                            required</p>
                        }
                    </div>
                    <div class="interest-container" (click)="removeValidationError('message')">
                        <label class="fira" for="interest">How can I help you?</label>
                        @if (!enteredMessageInvalid()) {
                        <input class="karla" type="text" id="interest" name="interest"
                            placeholder="Hello Marcel, I am interested in..." formControlName="message">
                        }
                        @else {
                        <p class="karla invalid-message">What do you need to
                            develop?</p>
                        }
                    </div>
                    <div class="checkbox-container">
                        <input type="checkbox" name="privacy-policy" id="privacy-policy" formControlName="checkbox">
                        <label class="karla" for="privacy-policy">
                            <span>
                                I've read the <span class="fira privacy-highlight">privacy policy</span>
                                and
                                agree to the processing of my data as outlined.
                            </span>
                        </label>
                    </div>
                    <p [ngClass]="{ 'hideCheckBoxError' : checkboxValid() }" class="karla invalid-message">Please accept the privacy policy.</p>
                    <div class="btn-container">
                        <button appButton class="karla" type="submit">Say Hello ;&#41;</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>