<section>
    <div class="container">
        <div class="flex-container">
            <img src="assets/img/about-me/dummy.png" alt="An image of myself">
            <div>
                <h4 class="karla">Who I Am</h4>
                <app-card>
                    <h3 class="fira">About Me</h3>
                    <p class="karla header-paragraph">Hey there, I'm Marcel! Since my childhood, I’ve been fascinated by computers and video games –
                        today, I bring my own applications and solutions to life through code.</p>
                    <div class="paragraph-container">
                        <img src="assets/img/about-me/location.svg" alt="An icon to represent the location">
                        <p class="karla">Currently living in Aurich, Germany. I'm open to work remotely and at the companys office.
                        </p>
                    </div>
                    <div class="paragraph-container mt-4">
                        <img src="assets/img/about-me/cognition.svg" alt="An icon with a thinking head">
                        <p class="karla">I’m eager to kick off my career as a Fullstack Web
                            Developer and further expand into cloud and mobile app development</p>
                    </div>
                    <div class="paragraph-container mt-4">
                        <img src="assets/img/about-me/quality.svg" alt="A checkmark icon">
                        <p class="karla">As a creative and analytical team player, I like to get challenged with complex problems to learn from them and to further expand my expertise as a Software developer.</p>
                    </div>
                </app-card>
            </div>
        </div>
    </div>
</section>