<section id="about-me">
    <div class="container">
        <div class="grid-container">
            <div class="image-container">
                <div class="grid-img-container">
                    <img [ngClass]="gotHovered() ? 'got-hovered' : 'not-hovered'" class="grid-bg" src="assets/img/about-me/Capa_1.svg">
                    <img (mouseenter)="gotHovered.set(true)" class="profile-img" src="assets/img/about-me/profile-img.png" i18n-alt alt="An image of myself">
                </div>
            </div>
            <div>
                <h4 i18n class="karla">Who I Am</h4>
                <app-card>
                    <h3 i18n class="fira">About Me</h3>
                    <p i18n class="karla header-paragraph">Hey there, I'm Marcel! Since my childhood, I’ve been fascinated by
                        computers and video games –
                        today, I bring my own applications and solutions to life through code.</p>
                    <div class="paragraph-container">
                        <img src="assets/img/about-me/location.svg" i18n-alt alt="An icon to represent the location">
                        <p i18n class="karla">Currently living in Aurich, Germany. I'm open to work remotely and at the
                            companys office.
                        </p>
                    </div>
                    <div class="paragraph-container mt-4">
                        <img src="assets/img/about-me/cognition.svg" i18n-alt alt="An icon with a thinking head">
                        <p i18n class="karla">I’m eager to kick off my career as a Fullstack Web
                            Developer and further expand into cloud and mobile app development</p>
                    </div>
                    <div class="paragraph-container mt-4">
                        <img src="assets/img/about-me/quality.svg" i18n-alt alt="A checkmark icon">
                        <p i18n class="karla">As a creative and analytical team player, I like to get challenged with complex
                            problems to learn from them and to further expand my expertise as a Software developer.</p>
                    </div>
                </app-card>
            </div>
        </div>
    </div>
</section>