@import '../../../variables.scss';
@import '../../../mixins.scss';

section {
    background-color: $black;
}

.container {
    @include container();
}

.flex-container {
    @include dFlex($jc: space-between, $g: 6rem, $ai: flex-start);
    padding-top: 15.125rem;
    padding-bottom: 10.375rem;

    >img {
        flex: 1;
        border-radius: 30px;
        // width: 568px;
        height: 452px;
        object-fit: cover;
        object-position: center;
        transform: translateY(-98px);
    }

    >div {
        flex: 1;
    }
}

.information-container {
    background-color: $mint-glass;
    border: 1px solid $teal-dark;
    border-radius: 30px;
    padding: 2rem;
}

h4 {
    font-weight: $font-weight-light-bold;
    font-size: $font-size-xl;
    color: $teal-dark;
    margin-bottom: 1.25rem;
}

h3 {
    font-weight: $font-weight-bold;
    font-size: $font-size-5xl;
    color: $teal-dark;
    margin-bottom: 2.5rem;
}

p {
    font-weight: $font-weight-normal;
    font-size: $font-size-l;
    text-align: start;
}

.header-paragraph {
    margin-bottom: 2rem;
    color: $white;
}

.paragraph-container {
    @include dFlex($jc: flex-start, $g: 1.5rem);

    >img {
        height: 32px;
        width: 32px;
    }
    transform: translateX(-15px);

    >p {
        color: darken($white, 20);
        transition: color 150ms ease-out;
    }

    &:hover p {
        color: $white;
    }
}

.mt-4 {
    margin-top: 1rem;
}

@media (max-width: 992px) {
    .flex-container {
        flex-direction: column;

        >img {
            transform: translateY(0);
        }
    }
}