<section>
    <div class="container">
        <h4 class="karla">Technologies</h4>
        <div class="flex-container">
            <div class="skill-set-container">
                <h3 class="fira">Skill Set</h3>
                <p class="skill-introduction karla">A short introduction of your skills. Highlight your experience of
                    using different front-end
                    technologies and emphasise your openness to learning and adapting to new technologies. Show how
                    important it is for you to keep up with the rapid changes in web development.</p>
                <p class="skill-question fira">You need <span class="fira">another skill?</span></p>
                <p class="karla contact-paragraph">Feel free to contact me. I look forward to expanding on my previous
                    knowledge.</p>
                <button class="karla">Let's Talk</button>
            </div>
            <div class="skill-icons-container">
                @for (skill of skills; track $index) {
                <div [ngClass]="{'mindset-blue-font' : skill.name === 'Growth mindset'}">
                    <img [src]="skill.path" [alt]="skill.alt">
                    <p class="fira skill-name">{{ skill.name }}</p>
                </div>
                }
            </div>
        </div>
    </div>
</section>