<section id="skills">
    <div class="container">
        <h4 class="karla">Technologies</h4>
        <div class="grid-container">
            <app-card class="skill-set-container">
                <h3 class="fira">Skill Set</h3>
                <p class="skill-introduction karla">A short introduction of your skills. Highlight your experience of
                    using different front-end
                    technologies and emphasise your openness to learning and adapting to new technologies. Show how
                    important it is for you to keep up with the rapid changes in web development.</p>
                <p class="skill-question fira">You need <span class="fira">another skill?</span></p>
                <p class="karla contact-paragraph">Feel free to contact me. I look forward to expanding on my previous
                    knowledge.</p>
                <button appButton class="karla">Let's Talk</button>
            </app-card>
            <div class="skill-icons-container">
                @for (skill of skills(); track $index) {
                @if(skill.name === 'Growth mindset') {
                <div class="future-skills-container"
                    [ngClass]="{'mindset-blue-font' : skill.name === 'Growth mindset'}">
                    <img [src]="skill.path" [alt]="skill.alt">
                    <img class="technologies-to-learn" src="assets/img/technologies/learning-interest.svg"
                        alt="Next technologies I aim to learn">
                    <p class="fira skill-name">{{ skill.name }}</p>
                </div>
                } @else {
                <div [ngClass]="{'mindset-blue-font' : skill.name === 'Growth mindset'}">
                    <img [src]="skill.path" [alt]="skill.alt">
                    <p class="fira skill-name">{{ skill.name }}</p>
                </div>
                }
                }
            </div>
        </div>
    </div>
</section>