@import '../../../variables.scss';
@import '../../../mixins.scss';

section {
    background-color: $black;
    padding-top: 9rem;
}

h3 {
    color: $teal-dark;
    text-align: center;
    font-weight: $font-weight-bold;
    font-size: $font-size-xxl;
    padding-inline: 6rem;
}

.container {
    margin-top: 3rem;
    @include container();
    padding-inline: 0;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    position: relative;
}

.controls {
    @include dFlex($g: 1.25rem);
    margin-top: 3rem;

    >button {
        background: transparent;

        &:hover {
            .arrow {
                fill: $teal-dark;
            }

            >svg {
                transform: scale(1.2);
            }
        }
    }
}

svg {
    transition: transform 300ms ease-out;
}

.arrow {
    fill: white;
    transition: fill 300ms ease-out;
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 3);
    gap: 4rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel :where(.card) {
    @include dFlex($jc: space-between);
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    scroll-snap-align: center;
    background-color: $carousel-bg;
    border: 1px solid $teal-dark;
    border-radius: 32px;
    padding: 2rem;
    flex-direction: column;
    height: 274px;

    >div {
        @include dFlex($jc: space-between, $g: 1rem);
    }
}

p {
    color: $white;
    font-weight: $font-weight-normal;
    font-size: $font-size-lg;
}

.line {
    border-top: 1px solid $white;
    height: 1px;
    width: 100%;
}

.line~span {
    white-space: nowrap;
    color: $white;
    font-size: $font-size-lg;
    font-weight: $font-weight-normal;
}

@media (max-width: 900px) {
    .carousel {
        grid-auto-columns: calc(100% / 2);
    }
}

// @media (max-width: 600px) {
//     .carousel {
//         grid-auto-columns: 100%;
//         gap: 0.5rem;
//     }
// }