<section>
    <h3 class="fira">What my colleagues say about me</h3>
    <div class="container">
        <article>
            <app-card>
                <p>Marcel has proven to be a reliable group partner. His technical skills and proactive approach were crucial to the success of our project.</p>
                <div class="colleague">
                    <div class="border"></div>
                    <span>H.Janisch - Team Partner</span>
                </div>
            </app-card>
        </article>
        <article></article>
        <article></article>
    </div>
</section>
