<section>
    <h3 class="fira">What my colleagues say about me</h3>
    <div class="container">
        <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" loop="true" space-between="30" slides-per-view="3" slide-to-clicked-slide="false" allow-touch-move="false">
            <swiper-slide>
                <article>
                    <p class="karla">Marcel has proven to be a reliable group partner. His technical skills and
                        proactive approach were crucial to the success of our</p>
                    <div>
                        <div class="line"></div>
                        <span class="karla">H. Janisch - Team Partner</span>
                    </div>
                </article>
            </swiper-slide>
            <swiper-slide>
                <article>
                    <p class="karla">Marcel has proven to be a reliable group partner. His technical skills and
                        proactive approach were crucial to the success of our</p>
                    <div>
                        <div class="line"></div>
                        <span class="karla">H. Janisch - Team Partner</span>
                    </div>
                </article>
            </swiper-slide>
            <swiper-slide>
                <article>
                    <p class="karla">Marcel has proven to be a reliable group partner. His technical skills and
                        proactive approach were crucial to the success of our</p>
                    <div>
                        <div class="line"></div>
                        <span class="karla">H. Janisch - Team Partner</span>
                    </div>
                </article>
            </swiper-slide>
            <swiper-slide>
                <article>
                    <p class="karla">Marcel has proven to be a reliable group partner. His technical skills and
                        proactive approach were crucial to the success of our</p>
                    <div>
                        <div class="line"></div>
                        <span class="karla">H. Janisch - Team Partner</span>
                    </div>
                </article>
            </swiper-slide>
            <swiper-slide>
                <article>
                    <p class="karla">Marcel has proven to be a reliable group partner. His technical skills and
                        proactive approach were crucial to the success of our</p>
                    <div>
                        <div class="line"></div>
                        <span class="karla">H. Janisch - Team Partner</span>
                    </div>
                </article>
            </swiper-slide>
            <swiper-slide>
                <article>
                    <p class="karla">Marcel has proven to be a reliable group partner. His technical skills and
                        proactive approach were crucial to the success of our</p>
                    <div>
                        <div class="line"></div>
                        <span class="karla">H. Janisch - Team Partner</span>
                    </div>
                </article>
            </swiper-slide>
        </swiper-container>
    </div>
</section>