@import '../../../variables.scss';

section {
    padding-top: 11rem;
    background-color: $black;
}

h3 {
    text-align: center;
    color: $teal-dark;
    font-weight: $font-weight-bold;
    font-size: $font-size-xxl;
}

.container {
    display: flex;
}

.colleague {
    display: flex;
}

.border {
    border: 1px solid darken($white, 20%);
    flex: 1;
}