@mixin dFlex($jc: center, $ai: center, $g: 0) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}

@mixin container() {
    margin-inline: auto;
    padding-inline: 6rem;
    max-width: 1920px;
    width: 100%;
}