// colors
$white: #FFFFFF;
$white-gray: #D9D9D9;
$teal-dark: #3DCFB6;

// font sizes
$sont-size-sm: 15px;
$font-size-base: 16px;
$font-size-l: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-3xl: 40px;
$font-size-4xl: 56px;
$font-size-5xl: 64px;
$font-size-6xl: 72px;
$font-size-7xl: 128px;

// font weight
$font-weight-normal: 400;
$font-weight-light-bold: 500;
$font-weight-bold: 700;