// colors
$white: #FFFFFF;
$white-gray: #D9D9D9;
$teal-dark: #3DCFB6;
$dot: #6AD7BF;
$mint-glass: #3DCFB61A;
$black: rgb(28, 28, 28);
$fetaured-projects-bg: #2F5B53;
$carousel-bg: #26524B;
$line-divider: #3DCFB680;
$error: #EC7B7B;

// font sizes
$sont-size-sm: 0.938rem;
$font-size-base: 1rem;
$font-size-l: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
$font-size-lg: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
$font-size-xl: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
$font-size-xxl: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
$font-size-3xl: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
$font-size-5xl: clamp(3.5rem, 3.4rem + 0.5vw, 4rem);
$font-size-7xl: clamp(3.875rem, 3.05rem + 4.125vw, 8rem);

// $sont-size-sm: 15px;
// $font-size-base: 16px;
// $font-size-l: 18px;
// $font-size-lg: 20px;
// $font-size-xl: 24px;
// $font-size-xxl: 32px;
// $font-size-3xl: 40px;
// $font-size-5xl: 64px;
// $font-size-7xl: 128px;

// font weight
$font-weight-normal: 400;
$font-weight-light-bold: 500;
$font-weight-bold: 700;