<footer>
    <div class="container">
        <div class="flex-container">
            <div class="logo-footer-container">
                <img src="assets/img/hero-section/logo.webp" alt="My name in as the logo">
                <p class="karla">Web Developer</p>
                <p class="karla">Aurich Germany</p>
            </div>
            <div class="copyright">
                <span class="fira">&copy;</span>
                <span class="fira">Marcel Göhn 2025</span>
            </div>
            <nav>
                <ul>
                    <li><a class="karla" href="#">Github</a></li>
                    <li><a class="karla" href="#">LinkedIn</a></li>
                    <li><a class="karla" href="#">Email</a></li>
                    <li><a class="karla" href="#">Legal Notice</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
