@import '../../../variables.scss';
@import '../../../mixins.scss';

.bg-black {
    background: $black;
    padding-top: 8.438rem;
    padding-bottom: 4rem;
}

.bg-transparent {
    background: transparent;
    padding-top: 6.25rem;
    padding-bottom: 5rem;
}

.container {
    @include container();
}

.flex-container {
    @include dFlex($jc: space-between);
}

.logo-footer-container {

    >app-logo {

        +p {
            margin-top: 2rem;
            margin-bottom: 0.5rem;
        }
    }

    >p {
        color: $white;
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
    }
}

.copyright {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    >span {
        color: $teal-dark;
        font-size: $font-size-l;
        font-weight: $font-weight-normal;
    }
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

li a {
    color: $white;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    transition: color 300ms ease-out;
    position: relative;

    &::before {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        color: $teal-dark;
        background-color: $teal-dark;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -14px;
        transition: opacity 300ms ease-out;
        opacity: 0;
    }

    &:hover {
        color: $teal-dark;

        &::before {
            opacity: 1;
        }
    }
}

.pointer {
    cursor: pointer;
}

#copyright_mobile {
    @include dFlex($g: 0.5rem);
    margin-top: 2rem;

    >span {
        color: $teal-dark;
        font-size: $font-size-l;
        font-weight: $font-weight-normal;
    }
}

@media (max-width: 768px) {
    .bg-black {
        padding-top: 6.25rem;
        padding-bottom: 1.5rem;
    }

    .bg-transparent {
        padding-top: 5.25rem;
        padding-bottom: 3.5;
    }

    .flex-container {
        align-items: flex-start;
    }

    #copyright_desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    #copyright_mobile {
        display: none;
    }

    nav {
        align-self: flex-end;
    }
}