<footer [ngClass]="currentUrl() === 'legal-notice' ? 'bg-transparent' : 'bg-black'">
    <div class="container">
        <div class="flex-container">
            <div class="logo-footer-container">
                <img src="assets/img/hero-section/logo.webp" alt="My name in as the logo">
                <p class="karla">Web Developer</p>
                <p class="karla">Aurich Germany</p>
            </div>
            <div id="copyright_desktop" class="copyright">
                <span class="fira">&copy;</span>
                <span class="fira">Marcel Göhn 2025</span>
            </div>
            <nav>
                <ul>
                    <li><a class="karla" href="https://github.com/Marcel-Goehn" target="_blank">Github</a></li>
                    <li><a class="karla" href="https://www.linkedin.com/in/marcel-g%C3%B6hn-11b050353/" target="_blank">LinkedIn</a></li>
                    <li><a class="karla" href="mailto:marcelgoehn@googlemail.com">Email</a></li>
                    <li><a class="karla" (click)="resetActiveHeaderLinks()">Legal Notice</a></li>
                </ul>
            </nav>
        </div>
        <div id="copyright_mobile">
            <span class="fira">&copy;</span>
            <span class="fira">Marcel Göhn 2025</span>
        </div>
    </div>
</footer>